# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual Environment
venv/
backend/venv/

# Environment
.env
backend/.env

# Database
*.db
backend/database/*.db

# Logs
logs/

# Uploads & Backups
uploads/
backup/
backend/archive/

# Tests
test_*.py
tests/
**/test_*.py
backend/test_*.py
backend/*_test.py

# Frontend
frontend/node_modules/
frontend/dist/
